services:
  backend:
    container_name: archeotrace-backend
    build:
      context: ./backend
    ports:
      - "4000:5173"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true
    command: npm run dev

  frontend:
    container_name: poc-frontend
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - WATCHPACK_POLLING=true
      - NEXT_PUBLIC_API_URL=http://backend:4000
    depends_on:
      - backend
